@using Data.Model;
@{
    ViewBag.Title = "Pregled";
    Layout = "~/Views/Shared/_Admin.cshtml";
    List<KalendarObavijesti> k = (List<KalendarObavijesti>)ViewData["kalendari"];
}

<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>

<table id="table" class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>Događaj</th>
            <th>Datum </th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (KalendarObavijesti i in k)
        {
            <tr>
                <td>@Html.Raw(i.Obavijest)</td>
                <td>@i.Datum</td>
                <td>
                    <a href="/Kalendar/IzmjenaKalendara?Id=@i.KalendarID" class="btn btn-success"> Izmijeni</a>
                    <a href="/Kalendar/BrisanjeKalendara?Id=@i.KalendarID" class="btn btn-danger"> Obriši</a>
                </td>
            </tr>
        }

    </tbody>
</table>

