@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prijava</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Content/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Content/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        .center {
            margin-top: 10%;
        }
    </style>

</head>
<body>
    <form action="/Login/Index" method="post">
        <div class="row">
            <div class="center fullwidth">
                <div class="panel panel-primary popupbox">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Prijava</b></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Korisničko ime</label>
                            <input class="form-control" placeholder="Unesite korisničko ime" name="username">
                        </div>
                        <div class="form-group">
                            <label>Lozinka</label>
                            <input class="form-control" type="password" placeholder="Unesite lozinku" name="password">
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <span><a href="http://www.fmon.gov.ba/">fmon.gov.ba</a></span>
                            <input type="submit" value="Prijava" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
    <script src="../../Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../Content/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../../Content/js/plugins/morris/raphael.min.js"></script>
    <script src="../../Content/js/plugins/morris/morris.min.js"></script>
    <script src="../../Content/js/plugins/morris/morris-data.js"></script>

</body>
</html>
