@{
    ViewBag.Title = "InsertSektor";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<link href="~/Content/js/FileUpload/fileinput.css" rel="stylesheet" />
<link href="~/Content/js/FileUpload/fileinput.min.css" rel="stylesheet" />
<script src="~/Content/js/FileUpload/fileinput.js"></script>
<script src="~/Content/js/FileUpload/fileinput.min.js"></script>
<script src="~/Content/js/FileUpload/fileinput_locale_es.js"></script>

<script src="~/Content/tinymce/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>

<form method="post" action="/Sektori/InsertSektor" enctype="multipart/form-data">

    <div class="col-lg-8">
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Greška!</strong> @ViewBag.Error
            </div>
        }
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <strong>Obavljeno!</strong> @ViewBag.Success
            </div>
        }
        <div class="panel panel-default">
            <div class="panel-body">
                
                <h3>Dodavanje novog sektora</h3>
                <br/>
                <label for="disabledSelect">Odaberite ikonicu sektora</label>
                <input id="file-0a" class="file" name="ikonica" type="file" multiple data-min-file-count="1" />
                <br>
                <label for="disabledSelect">Odaberite sliku sektora</label>
                <input id="file-0a" class="file" name="slika" type="file" multiple data-min-file-count="0" />
                <br/>
                <label for="disabledSelect">Unesite naziv sektora</label>
                <input class="form-control" name="naziv">
                <br />
                <label for="disabledSelect">Unesite broj za određivanje redoslijeda sektora na stranici</label>
                <input class="form-control" name="redosljed">
                <br/>
                <label for="disabledSelect">Unesite informacije o sektoru</label>
                <textarea class="form-control" rows="3" name="opis"></textarea>
                <br />
                <button type="submit" class="btn btn-primary">Snimi</button>

            </div>
        </div>
    </div>
</form>