@using Data.Model;
@{
    ViewBag.Title = "SviSektori";
    Layout = "~/Views/Shared/_Admin.cshtml";

    List<Sektori> sektori = (List<Sektori>)ViewData["SviSektori"];
}
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#sektori').DataTable();
    });
</script>
<table id="sektori" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Prioritet</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Sektori i in sektori)
        {
            <tr>
                <td>@i.NazivSektora</td>
                <td>@i.Redoslijed</td>
                <td>
                    <a href="/Sektori/IzmjenaSektora?Id=@i.SektorID" class="btn btn-success"> Izmijeni</a>
                    <a href="/Sektori/BrisanjeSektora?Id=@i.SektorID" class="btn btn-danger"> Obriši</a>
                </td>
            </tr>
        }

    </tbody>
</table>