@using  Data.Model;
@{
    ViewBag.Title = "Pregled";
    Layout = "~/Views/Shared/_Admin.cshtml";
    List<Konkursi> konkursi = (List<Konkursi>)ViewData["konkursi"];
}
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/DataTable/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>

<table id="table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Tip</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Konkursi i in konkursi)
        {
            <tr>
                <td>@i.Naziv</td>
                @if (i.IsMedjunarodni)
                {
                    <td>
                        Međunarodni
                    </td>
                }
                else
                {
                    <td>
                        Državni
                    </td>
                }
                <td>
                    <a href="/Konkursi/IzmjenaKonkursa?Id=@i.KonkursID" class="btn btn-success"> Izmijeni</a>
                    <a href="/Konkursi/BrisanjeKonkursa?Id=@i.KonkursID" class="btn btn-danger"> Obriši</a>
                </td>
            </tr>
        }

    </tbody>
</table>


